.wholePage{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.ProductDetailsContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* border: 1px solid ; */
	width: 100vh;
}

.NamesContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.DateContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.KeyInfoContainer{
	display: flex;
	flex-direction: row;
	justify-content:center;
	width: 100vh;
}



.KeyInfo1{
	margin-right: 10px;
}


.Picture{
	width: 60vh;
	margin: 10px;
	border-radius: 10px;
}

.MoreInfoContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 20px;
}

.productName{
	font-size: 30px;
}

p{
	font-size: 20px;
	margin: 4px;
	text-align: center;
}

button {
    background-color: lightblue;
    padding: 10px 20px;
    margin: 2px;
    color: white;
    border: none;
	font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
	font-size: 18px;
	text-decoration: none;
  }
  
button:hover {
    background-color: cornflowerblue;
  }

.Link{
	  text-decoration: none;
}

@media only screen and (max-width: 600px) {
	.KeyInfoContainer{
		width: auto;
		flex-direction: column;
	}
	.ProductDetailsContainer{
		width: 50vh;
	}
	.moreInfoContainer{
		margin-left: 80px;
		flex-direction: column;
	}
	.PictureContainer {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 100%; /* Ensure it takes the full width of the container */
	  text-align: center; /* Center the text within the container */
	}

	.Picture {
	  max-width: 40vh;
	  height: auto;
	  display: block;
	  margin: 0 auto;
	}

}
