.image-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .rotated-image {
    width: 20%;
    height: auto;
    margin: 10px;
  }
  
  /* @media (max-width: 600px) {
    .rotated-image {
      width: 80%;
    }
  } */
  
  .spacer {
    width: 10px;
    height: 10px;
  }
  